{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}

    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

    {% endblock head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col sm-6">
                    <h1><a class="titulo" href="{% url 'inicio' %}" style="text-decoration: none;">Bank of America</a></h1>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <nav>
                        {% if user.is_authenticated %}
                        <button class="btn btn-success">
                            <a href="{% url 'logout' %}">Cerrar sesión</a>
                        </button>
                        <button class="btn btn-primary">

                            <a href="{% url 'perfil' %}">Perfil</a>
                        </button>
                        {% else %}

                        <button class="btn btn-success">
                            <a href="{% url 'login' %}">Iniciar sesión</a>
                        </button>
                        <button class="btn btn-primary">

                            <a href="{% url 'registro' %}">Registrarse</a>
                        </button>
                        {% endif %}

                        
                    </nav>
                </div>
            </div>
        </div>
    </header>

    {% block content %}


    {% endblock content %}
    <footer class="footer">
        <p class="footer">Derechos reservados &copy; {% now "Y" %} - 2099</p>
    </footer>
    <!--clearfix visible-sm-block-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>