.main{
    margin-top: 60px;
}

.barrita-acciones2{
    background-color: #014e74;
    color: whitesmoke;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 3px;
    text-align: center;
    box-shadow: 2px 10px 10px gray;
}

.barrita-acciones{
    margin-top: 10px;
    background-color: #045b87;
    color: whitesmoke;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 2px 10px 10px gray;
}

