.fondo-portada{
    background-color: rgba(3, 95, 255, 0.23);
    border-radius: 5px;
}

.titulo{
    margin-top: 2px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

nav button{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    float: right;;
}

nav button a{
    text-decoration: none;
    color: whitesmoke;
}

section{
    margin-top: 50px;
}

.enunciado1{
    margin-top: 20px;
    padding: 40px;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 5px;
}

.enunciado2{
    margin-top: 20px;
    padding: 30px;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 5px;
}

.enunciado3{
    margin-top: 20px;
    padding: 40px;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 5px;
}

/*footer{
    color: whitesmoke;
    background-color: #014e74;
    text-align: justify;
    width: 50px;
    margin-bottom: -10px;
}
