.titulo{
    margin-top: 2px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

section{
    margin-top: 100px;
}


.footer{
    color: whitesmoke;
    background-color: #014e74;
    text-align: center;
}

